extends ../../shared/views/layout

block title
  | Dashboard - Components test

block content
  .dash-header
    .half-drop
      h1.dash-title Dashboard
    .half-drop
      ul.h-menu
        li!= user.name || user.email
        li: a(href='/signout') Sign out

  .github-info
    img(src=user.github.avatar_url, width='128', height='128')
    pre= JSON.stringify(user.github, undefined, '  ')
    each org in user.orgs
      li
        a(href=org.url)= org.login