extends ../../shared/views/layout

block title
  | Sign in - Components test

block content
  form.form-gateway(action='/signin', method='post')
    .title-bar
      h1 Who are you?
    input.input-text(type='text', name='email')
    input.input-text(type='password', name='password')
    p.micro test@dummy.com:bacon
    .button-bar
      button.button-submit(type='submit') Sign in

  .box-note
    a(href='https://github.com/login/oauth/authorize?client_id=' + config.github_client + '&scope=public_repo,repo,repo:status') Sign in with github instead.