extends ../../shared/views/layout

block title
  | Sign in - Components test

block content
  form.form-gateway(action='/signup', method='post')
    .title-bar
      h1 New account
    input.input-text(type='text', name='email')
    input.input-text(type='password', name='password')
    .button-bar
      button.button-submit(type='submit') Create